{% load staticfiles %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">$ (Dollar) a month </a>
    </div>
	
	
	<div id="navigation" class="navbar-right">
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="active"><a aria-expanded="false" role="button" href="/">Home</a></li>
		<li><a aria-expanded="false" role="button" href=""> About Dollar a Month </a></li>
		<li><a aria-expanded="false" role="button" href=""> How to ? </a></li>				
	</ul>
	</div>

    </div>
</div><!-- /.container-fluid -->
</nav>

<div class="topper">
	<div class="container">
		<div class="row">
			<div class="col-sm-6"><a class="btn btn-primary btn-block" href="/login"> School Login  <i class="fa fa-sign-in" aria-hidden="true"></i></a></div>
			<div class="col-sm-6"><a class="btn btn-primary btn-block" href="/login"> Student make a request</a></div>
		</div>
	</div>
</div>
<div class="row">
	<img class="img-responsive" src="{% static 'img/education.jpg' %}" />
</div>
