<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>user details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extended_head %}
    {% endblock %}
</head>
<body>
<div class="row">
	{% block content %}
        (no content)
      {% endblock %}
</div>
<script type="text/javascript"></script>
</body>
</html>